@import '../scss/colors.scss';
@import '../scss/fonts.scss';
@import '../scss/devices.scss';

.HomePage {
  height: 100%;
  width: 100%;
  color: $color-primary;
  display: grid;
  justify-items: center;
  align-items: center;
}

@include desktop {
}
