@import '../scss/colors.scss';
@import '../scss/fonts.scss';
@import '../scss/devices.scss';

.NavBar {
  background-color: white;
  height: 100%;
  width: 100%;
  font-size: x-small;

  display: grid;
  grid-template-columns: (33% auto);
  grid-template-rows: 100%;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
    .Icon {
      height: 5rem;
      width: auto;
    }
  }

  .Expander {
    .ExpandButton {
      outline: none;
      border: none;
      background-color: transparent;
      .ExpandIcon {
        height: 3rem;
        width: auto;
      }
    }
  }

  .MainNav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    .ProfileIcon {
      border-radius: 50%;
      height: 2rem;
      width: auto;
    }
    .Text {
      display: none;
    }
  }

  .SecNav {
    display: none;
  }

  .MobileNav {
    position: absolute;
    top: 0;
    display: block;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }
}

@include desktop {
  .NavBar {
    display: grid;
    grid-template-columns: repeat(40% 60%);
    //grid-template-rows: 100%;

    a {
      color: black;
    }

    .Expander {
      display: none;
    }

    .MainNav {
    }

    .SecNav {
      display: block;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: 100%;
      position: relative;
      justify-items: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .MobileNav {
      display: block;
      display: grid;
      grid-template-columns: (repeat(4, 25%));
      grid-template-rows: 100%;
      position: relative;
      height: 100%;
      width: 100%;
      top: unset;
      bottom: unset;
      z-index: 0;
      background-color: unset;
      justify-items: center;
      align-items: center;
    }
  }
}
