//PRIMARY COLORS
$color-primary: #f1f1f1;

//EXTRA
//$color-extra: ;

//COLORS FOR THE STATION
$color-black: #000000;
$color-white: #ffffff;

$color-green: #27f200;
$color-lightblue: #00e6ff;
$color-darkblue: #253df6;
$color-purple: #6000ff;

$color-orange: #ff8600;
$color-red: #ff0707;
$color-yellow: #faf10d;

//background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,242,0,1) 0%, rgba(0,230,255,1) 100%);
